<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .logoco1 {
      color: white;
      font-family: 'Amita';

    }
  </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Account</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>


  <link href="{{ url_for('static' , filename='assets/img/fav.png') }}" rel="icon">
  <link href="{{ url_for('static' , filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static' , filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static' , filename='assets/vendor/line-awesome/css/line-awesome.min.css') }}"
    rel="stylesheet">
  <link href="{{ url_for('static' , filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}"
    rel="stylesheet">
  <link href="{{ url_for('static' , filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static' , filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v2.1.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top-1" style="background-color: black;">
    <div class="container d-flex" style="background-color: ;">

      <div class="logo mr-auto">
        <h1 class="logoco1" style="color: rgb(60, 228, 60);">Repair Me</h1>





        <!-- 
        <img src="{{ url_for('static' , filename='assets/img/logo.png') }}" alt="" class="img-fluid" >
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->



      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>


          {% if current_user.is_authenticated %}

          <li class="active"><a href="{{ url_for('account')}}">Account</a></li>
          <li><a href="{{ url_for('userlogout')}}">Log Out</a></li>


          {% else %}

          <li><a href="{{ url_for('signup')}}">Sign Up</a></li>
          <li><a href="{{ url_for('login')}}">Log In</a></li>
          {% endif %}
          <li><a href="{{ url_for('about')}}">About</a>

          </li>










          <li><a href="{{ url_for('contact')  }}">Contact</a></li>
          <!--
          <li class="get-started"><a href="/dashboard">Dashboard</a></li>
          -->
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
  <!-- End Header -->


  {% with messages = get_flashed_messages( with_categories=true) %}
  {% if messages %}
  {% for category , message in messages %}
  <div class="container">
    <div class="alert alert-{{ category}} ">{{message}}</div>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}


  <!-- profilr  -->



  <section id="services" class="services  section-bg ">

    <div class="container " >


      <div class="section-title pt-5" data-aos="fade-up">
        <h2 style="color: rgb(12, 12, 12);font-size: 40px;">Your Services</h2>
        <hr>
      </div>

      
      {% if len_book==0 %}
      <h1>You have not placed any request yet</h1>

      {% else %}

      

    

      <div class="row">

        {% for bookservice in bookservices %}



        <div class="col-md-6">
          <div class="icon-box" style="border: 1px solid rgb(69, 70, 69);" data-aos="fade-up" >

            <h4 class="title"><a href="">{{bookservice.service}}</a></h4>

            <div style="display: inline;display: flex; margin-left: -70px; ">
              <h6 class="title" style=" font-size: 15px;">Service date </h5>
                <p class="description" style="margin-left: 50PX;color: blueviolet;"> {{bookservice.service_date}}</p>
            </div>

            <div style="display: inline;display: flex; margin-left: -70px; ">
              <h6 class="title" , style=" font-size: 15px;"> Service time </h5>
                <p class="description" style="margin-left: 50PX;color: cornflowerblue;"> {{bookservice.service_time}}
                </p>
            </div>

            <div style="display: inline;display: flex; margin-left: -70px; ">
              <h6 class="title" , style=" font-size: 15px;"> Service Status </h5>
                <p class="description" , style="margin-left: 38PX;"> {{bookservice.status}}</p>
            </div>

            <div style="display: inline;display: flex; margin-left: -70px; ">
              <h6 class="title" , style=" font-size: 15px;"> Serviceman </h5>
                <p class="description" style="margin-left: 55px;"> <a href="#"
                    style="color: cyan;">{{bookservice.serviceman}}</a> </p>
            </div>

            <div style="display: inline;display: flex;  margin-left: -70px;">
              <h6 class="title" , style=" font-size: 15px;"> <a href="#" style="color:red;">request detail</a> </h5>

            </div>

          </div>
        </div>

        {% endfor %}














      </div>
      {% endif %}
      


    </div>
  </section>


  <!-- #################################################-->

  








  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static' , filename='assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/counterup/counterup.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static' , filename='assets/vendor/aos/aos.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static' , filename='assets/js/main.js') }}"></script>

</body>

</html>