<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet"
        href="{{ url_for('static' , filename='signup/fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static' , filename='signup/css/style.css') }}">
</head>

<body>



    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form class="register-form" id="register-form" method="post" action="/signup">
                            {{ form.hidden_tag() }}








                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>

                                {{ form.name(class="form-control ",placeholder="name")}}







                            </div>




                            <div class="form-group">
                                <label for="phone"><i
                                        class="zmdi zmdi-smartphone-android material-icons-name"></i></label>
                                {% if form.phone.errors %}
                                {{ form.phone(class="form-control ",placeholder="Number")}}
                                {% for error in form.phone.errors %}
                                <div>
                                    <span style="color: red;">{{error}} </span>
                                </div>
                                {% endfor %}

                                {% else %}
                                {{ form.phone(class="form-control ",placeholder="Number")}}
                                {% endif %}
                            </div>






                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {% if form.email.errors %}
                                {{ form.email(class="form-control ",placeholder="Email")}}

                                {% for error in form.email.errors %}
                                <span style="color: red;">{{error}}</span>
                                {% endfor %}

                                {% else %}
                                {{ form.email(class="form-control ",placeholder="Email")}}
                                {% endif %}


                            </div>




                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {% if form.password.errors %}
                                {{ form.password(class="form-control ",placeholder="Password")}}

                                {% for error in form.password.errors %}
                                <span style="color: red;">{{error}}</span>
                                {% endfor %}


                                {% else %}
                                {{ form.password(class="form-control ",placeholder="Password")}}
                                {% endif %}
                            </div>




                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock"></i></label>
                                {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control ",placeholder="Confirm Password")}}

                                {% for error in form.confirm_password.errors %}
                                <span style="color: red;">{{error}}</span>
                                {% endfor %}


                                {% else %}
                                {{ form.confirm_password(class="form-control ",placeholder="Confirm Password")}}
                                {% endif %}
                            </div>



                            <div class="form-group form-button">
                                {{ form.submit(class="btn btn-primary")}}
                            </div>

                            <div><span>If already registered . <a href="{{url_for('login')}}" style="color: red;">Log In here</a></span></div>



                        </form>
                    </div>
                    
                </div>
            </div>
        </section>


    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>